<%= form_for :login, url: {action: "login"}, method: :get do |f| %>
  <div>ID</div>
  <%= f.text_field :user_id %>

  <div>PASSWORD</div>
  <%= f.text_field :password %>

  <%= f.submit "Log in" %>
<% end %>

<%= link_to "back", :root %>
<%= link_to "Sign up", nil %>

<script type="text/javascript">
  $(function(){
  });
</script>